<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The State of the Philippine Art Scene</h2>
                    <h3 class="section-subheading text-muted"><p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in ante nisi. Sed pharetra, mauris ut aliquam sollicitudin, metus neque malesuada lectus, ac finibus lacus enim quis sapien. Pellentesque et pharetra orci. Integer interdum justo turpis, sodales porttitor dolor consequat a. Mauris urna sapien, eleifend ut convallis consequat, tincidunt at est. Fusce dignissim venenatis tellus. Nullam rhoncus dapibus volutpat. Praesent nisl sem, dictum in leo vitae, pulvinar suscipit eros. Vivamus egestas tristique turpis, a tempor ligula ultricies eu. Fusce porttitor porttitor suscipit. Nam diam tortor, iaculis nec ligula eu, placerat rutrum justo. Praesent vitae vestibulum est. In vel eleifend arcu. Curabitur blandit elit neque, et fermentum ipsum pulvinar gravida. Pellentesque consectetur tortor erat, quis tristique massa finibus vitae.</p></h3>
                </div>
            </div>

           <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Philippine Creative Industries Act</h2>
                        <h3 class="section-subheading text-muted">
                        <p class="paragraph">The Department of Trade and Industry’s goal of becoming the leading creative economy in the ASEAN by 2030 seems to be absurd without legislation or a legitimized government support that will promote the development of creative industries. Hence, Paolo Mercado, along with Rep. De Venecia and the other instigators, proposed a bill that consolidates previous bills supporting creative industries not only to rationalize the need for government support but more importantly, to delineate our potential of becoming globally competitive in terms of arts. This bill is known as the Philippine Creative Industries Act of 2021. 
                            <br><br>The Philippine Creative Industries Act, in essence, seeks to promote creative industries as a priority economic sector to generate high-value jobs, contribute to GDP growth, increase international exports of Filipino creative products and services, and develop our intellectual property capital. 
                            <br><br>The creative industries are among the fastest growing sectors in our economy. However, with the ongoing pandemic and the implementation of strict precautionary measures, many workers have been displaced, and the arts community suffered greatly as a consequence. This consolidated bill will not only help the affected workers in the creative industries to survive this crisis but also support and sustain this sector looking ahead on the road to national recovery.
                            <br><br>The key elements of the bill are as follows: 
                         </p>
                    </h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Scope of the Act</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="paragraph text-muted">It clearly defines the scope of Philippine creative industries to include nine domains: (1) audio and audiovisual media; (2) digital interactive media; (3) books, publishing, and printed media; (4) creative services; (5) design; (6) visual arts; (7) performing arts; (8) traditional cultural expressions; (9) and cultural sites.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2011</h4>
                                    <h4 class="subheading">An Agency is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="paragraph text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2012</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="paragraph text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="paragraph text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of the
                                    <br>Change!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
