<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">References</h2>
                    <h3 class="section-subheading text-white"><p class="paragraph">Price, D. (2018, March 23). Laziness does not exist. Medium. https://humanparts.medium.com/laziness-does-not-exist-3af27e312d01. 
                            <br><br>American Society for the Prevention of Cruelty to Animals. (2019, November 21). Justice served: Case closed for over 40 dogfighting victims. https://www.aspca.org/news/justice-served-case-closed-over-40-dogfighting-victims.
                            <br><br>Drollinger, T., Comer, L. B., & Warrington, P. T. (2006). Development and validation of the active empathetic listening scale. Psychology & Marketing, 23(2), 161-180. https://doi.org/10.1002/mar.20105.
                            <br><br>Quantum mechanics. (2019, November 19). In Wikipedia. https://en.wikipedia.org/w/index.php?title=Quantum_mechanics&oldid=948476810.
                            </p>
                    </h3>
                  </div>
                </div>
            </div>
        </div>
    </section>
