<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">References</h2>
                   <h3 class="text-white"> The State of the Philippine Art Scene </h3>

	<p class="text-white text-ref">Benesa, Leo. (n.d.). <i> What is Philippine About Philippine Art. </i> Retrieved From: https://ncca.gov.ph/about-ncca-3/subcommissions/subcommission-on-the-arts-sca/visual-arts/what-is-philippine-about-philippine-art/#:~:text=Genre%20used%20to%20be%20a,Filipino%20soul%20and%20native%20soil</p>
	<p class="text-white text-ref">Cabochan, Laura. (2020). <i> Thinking About Arts and Culture in the Time of Covid-19. </i> Retrieved From: https://www.ateneo.edu/ls/soh/soh/news/thinking-about-arts-and-culture-time-covid-19</p>
	<p class="text-white text-ref">Cristobal, L. (2018, July 12). <i>Why Creative Work is Constantly Undervalued. </i> Retrieved from https://cnnphilippines.com/life/culture/2018/07/12/creative-work.html</p>
	<p class="text-white text-ref">De Vera., B.O. (2021, January 28). <i> PH posts worst recession in 2020. </i> Inquirer.net. Retrieved fromhttps://business.inquirer.net/316565/ph-posts-worst-recession-in-2020</p>
	<p class="text-white text-ref">Lizaso, N.J. (2020, August 24). <i> Anak, Why Art? </i> Manila Bulletin. Retrieved from https://mb.com.ph/2020/08/24/anak-why-art/</p>
	<p class="text-white text-ref">Meija, G. (2019, November 15). <i> Art Made Cheap in PH. </i> Retrieved from https://www.manilatimes.net/2019/11/15/opinion/columnists/art-made-cheap-in-ph/656029/</p>
	<p class="text-white text-ref">Sorilla, F., IV. (2020, August 07). <i> The State Of The Philippine Art Scene During The Covid-19 Pandemic. </i> Tatler Philippines. Retrieved from https://ph.asiatatler.com/life/the-state-of-the-philippine-art-scene-during-the-covid-19-pandemic</p>
	<p class="text-white text-ref">Tanedo, W.D. (2016). <i> Philippine Art History. </i> Retrieved on 05 May, 2021, from https://www.slideshare.net/wilfreddextertanedo/philippine-art-history-67264203 </p>
	<p class="text-white text-ref">UNESCO. (2021, January 28). <i> Cutting Edge | The creative economy: moving in from the sidelines. </i> Retrieved from https://en.unesco.org/news/cutting-edge-creative-economy-moving-sidelines</p>


<h3 class="text-white">The Philippine Creative Industries Act</h3>


	<p class="text-white text-ref">Creative Industries Charter of 2019, H.B. 4692, 18th Cong. (2019). Retrieved from https://www.congress.gov.ph/legisdocs/basic_18/HB04692.pdf</p>
	<p class="text-white text-ref">Creative Industry Development Act of 2016, H.B. 6476, 18th Cong. (2020). Retrieved from https://www.congress.gov.ph/legisdocs/basic_18/HB06476.pdf</p>
	<p class="text-white text-ref">Inocencio, J. (2021, April 15). <i> Insight: The time is now for the Philippine Creative Industries Act. </i> adobo Magazine Online. Retrieved from https://adobomagazine.com/featured/insight-the-time-is-now-for-the-philippine-creative-industries-act/</p>
	<p class="text-white text-ref">Mercado, P. (2021, February 13). <i> The Philippine Creative Industries Act. </i> INQUIRER.net. Retrieved from https://opinion.inquirer.net/137693/the-philippine-creative-industries-act</p>
	<p class="text-white text-ref">Philippine Creative Industries Act of 2021, H.B. 8101, 18th Cong. (2020). Retrieved from https://www.congress.gov.ph/legisdocs/basic_18/HB08101.pdf</p>

<h3 class="text-white">Artists as Catalysts</h3>


	<p class="text-white text-ref">ARNDT Fine Art. (n.d.). <i> Nona Garcia. </i> Retrieved from http://www.arndtfineart.com/website/artist_45786?idx=g </p>
	<p class="text-white text-ref">Artnet. (n.d.). <i> Ronald Ventura. </i> Retrieved from http://www.artnet.com/artists/ronald-ventura/ </p>
	<p class="text-white text-ref">CIIT. (2019, August 30). <i> Ten Successful Filipino Animators Who Made It Big in Hollywood. </i> CIIT College of Arts and Technology. Retrieved from https://www.ciit.edu.ph/successful-filipino-animators/</p>
	<p class="text-white text-ref">Nanda, Akshita. (2019, June 17). <i> Sweeney Todd musical starring Lea Salonga debuts here in November. </i> The Straits Times. Retrieved from https://www.straitstimes.com/lifestyle/arts/sweeney-todd-musical-starring-lea-salonga-debuts-here-in-november</p>
	<p class="text-white text-ref">Philippinestra. (2017, November 27). <i> Here Are the Best Handicrafts in the Philippines By Region. </i> Philippines Travel. Retrieved from https://philippinestravel.online/best-handicrafts-in-the-philippines-by-region/</p>

                  </div>
                </div>
            </div>
        </div>
    </section>
