<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">References</h2>
                   <h3> State of PH Art Scene </h3>

<ul>
	<li><p class="paragraph white-text text-ref">Cristobal, L., (2018, July 12) Why Creative Work is Constantly Undervalued. Retrieved from https://cnnphilippines.com/life/culture/2018/07/12/creative-work.html</p></li>
	<li><p class="paragraph white-text text-ref">Meija, G., (2019, November 15) Art Made Cheap in PH. Retrieved from https://www.manilatimes.net/2019/11/15/opinion/columnists/art-made-cheap-in-ph/656029/</p></li>
	<li><p class="paragraph white-text text-ref">Tanedo, W.D. (2016). Philippine Art History. Retrieved on 05 May, 2021, from https://www.slideshare.net/wilfreddextertanedo/philippine-art-history-67264203</p></li>
	<li><p class="paragraph white-text text-ref">Lizaso, N.J., (2020, August 24) Anak, Why Art?. Manila Bulletin. Retrieved from https://mb.com.ph/2020/08/24/anak-why-art/</p></li>
	<li><p class="paragraph white-text text-ref">UNESCO (2021, January 28). Cutting Edge | The creative economy: moving in from the sidelines. Retrieved from https://en.unesco.org/news/cutting-edge-creative-economy-moving-sidelines</p></li>
	<li><p class="paragraph white-text text-ref">De Vera., B.O., (2021, January 28). PH posts worst recession in 2020. Inquirer.net. Retrieved fromhttps://business.inquirer.net/316565/ph-posts-worst-recession-in-2020</p></li>
	<li><p class="paragraph white-text text-ref">Sorilla, F., IV., (2020, August 07). The State Of The Philippine Art Scene During The Covid-19 Pandemic. Tatler Philippines. Retrieved from https://ph.asiatatler.com/life/the-state-of-the-philippine-art-scene-during-the-covid-19-pandemic</p></li>
	<li><p class="paragraph white-text text-ref">Benesa, Leo (n.d.). What is Philippine About Philippine Art. Retrieved From: https://ncca.gov.ph/about-ncca-3/subcommissions/subcommission-on-the-arts-sca/visual-arts/what-is-philippine-about-philippine-art/#:~:text=Genre%20used%20to%20be%20a,Filipino%20soul%20and%20native%20soil</p></li>
<p class="paragraph white-text">Cabochan, Laura (2020). Thinking About Arts and Culture in the Time of Covid-19. Retrieved From: https://www.ateneo.edu/ls/soh/soh/news/thinking-about-arts-and-culture-time-covid-19</p></li>
</ul>

<h3>Creative Acts 2021</h3>

<ul>
	<li><p class="paragraph white-text text-ref">Inocencio, J. (2021, April 15). Insight: The time is now for the Philippine Creative Industries Act. adobo Magazine Online. Retrieved from https://adobomagazine.com/featured/insight-the-time-is-now-for-the-philippine-creative-industries-act/</p></li>
	<li><p class="paragraph white-text text-ref">Mercado, P. (2021, February 13). The Philippine Creative Industries Act. INQUIRER.net. Retrieved from https://opinion.inquirer.net/137693/the-philippine-creative-industries-act</p></li>
	<li><p class="paragraph white-text text-ref">Creative Industries Charter of 2019, H.B. 4692, 18th Cong. (2019). Retrieved from https://www.congress.gov.ph/legisdocs/basic_18/HB04692.pdf</p></li>
	<li><p class="paragraph white-text text-ref">Creative Industry Development Act of 2016, H.B. 6476, 18th Cong. (2020). Retrieved from https://www.congress.gov.ph/legisdocs/basic_18/HB06476.pdf</p></li>
	<li><p class="paragraph white-text text-ref">Philippine Creative Industries Act of 2021, H.B. 8101, 18th Cong. (2020). Retrieved from https://www.congress.gov.ph/legisdocs/basic_18/HB08101.pdf</p></li>
</ul>

<h3>Artists as Catalysts</h3>

<ul>
	<li><p class="paragraph white-text text-ref">Nanda, Akshita. (2019, June 17). Sweeney Todd musical starring Lea Salonga debuts here in November. The Straits Times. Retrieved from https://www.straitstimes.com/lifestyle/arts/sweeney-todd-musical-starring-lea-salonga-debuts-here-in-november</p></li>
	<li><p class="paragraph white-text text-ref">CIIT., (2019, August 30). Ten Successful Filipino Animators Who Made It Big in Hollywood. CIIT College of Arts and Technology. Retrieved from https://www.ciit.edu.ph/successful-filipino-animators/</p></li>
	<li><p class="paragraph white-text text-ref">Philippinestra. (2017, November 27). Here Are the Best Handicrafts in the Philippines By Region. Philippines Travel.online. Retrieved from https://philippinestravel.online/best-handicrafts-in-the-philippines-by-region/</p></li>
	<li><p class="paragraph white-text text-ref">ARNDT Fine Art (n.d.) Nona Garcia. Retrieved from http://www.arndtfineart.com/website/artist_45786?idx=g </p></li>
	<li><p class="paragraph white-text text-ref">ARNDT Fine Art (n.d.) Ronald Ventura. Retrieved from http://www.artnet.com/artists/ronald-ventura/  </p></li>
</ul>

                  </div>
                </div>
            </div>
        </div>
    </section>
