<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Artists as Catalysts</h2>
                    <h3 class="section-subheading text-muted">
                        <p class="paragraph">We have witnessed how Filipino artists have invaded the international art scene and not only brought glory to our country but also helped boost our economy in many ways, be it directly or indirectly. In the theatre arts, for instance, we have <b>Lea Salonga</b>, who is known for the different roles she portrayed in various Broadway musicals such as Les Misérables and Miss Saigon. Her most recent was the <i>Sweeney Todd</i> musical, which also debuted in Singapore in 2019 after they performed in Manila (Nanda, 2019). And this time, Ms. Salonga was accompanied to Singapore by a cast of mostly Filipino artists. Exporting the talent of our local artists can be an additional source of income for our country.</p>
                        <p class="paragraph">Alongside the theatre arts, we also have Filipino artists thriving in the world of digital art and animation. <b>Nelson Bohol</b>, for example, was part of Pixar's animation team and has contributed to the production of famous titles such as <i>Inside Out</i>, <i>Monsters University</i>, <i>Brave</i>, <i>WALL-E</i>, <i>Ratatouille</i>, <i>Cars</i>, and <i>Finding Nemo</i>. <b>Ruben Aquino</b> is another individual whose work is highly regarded. Aquino worked on the films <i>Winnie the Pooh</i>, <i>The Princess and the Frog</i>, and <i>Lilo and Stitch</i> (CIIT, 2019). </p>
                        <p class="paragraph">The examples aforementioned are observed to be within the context of the international art scene, working under world-renowned studios and companies. However, this does not mean that the local scene should be disregarded altogether; rather, the scene and its artists should be viewed as capable as their international counterparts. <b>Nona Garcia</b>, a Filipino artist, has had her works are exhibited under both local and foreign galleries. To add, Garcia was also recognized through her awards received, such as the <i>13 Artists Award</i> and the <i>Philip Morris Group of Companies ASEAN Art Award</i> (ARNDT, n.d.). Similarly, <b>Ronald Ventura</b> is another Filipino artist known for his contemporary multimedia works that rival their foreign counterparts. Like Garcia, Ventura has had his work exhibited both locally and globally and is also recognized by various institutions worldwide (Artnet, n.d.).</p>
                        <p class="paragraph">All of these examples are evidence of the remarkable talent and creativity that we, as Filipinos, have by nature. Many Filipino artists are capable of harnessing their artistry to levels appropriate for global competitiveness. However, while their artistry still contributes to our national economy in one way or another, the various foreign institutions that employ these artists are the ones that benefit the most from their works. This phenomenon may be attributed to the fact that arts and culture, as a whole, remain a low priority in our economy, hence it is often subsumed in other sectors such as tourism, entertainment, and sports.</p>
                        <p class="paragraph">To cite a few cases, Monique Lhuillier and Micheal Cinco are world-renowned fashion designers, and they are often commissioned by foreign clients. In the local art scene, indigenous arts and crafts that originate from various regions may be exported in order to bolster the growth of our economy, with examples including the burnay from Ilocos, the various textile patterns weaved in Mindanao, the jewelry crafted in Central Luzon, and the metalcrafts from Mindanao, to name a few (Philippinestra, 2017). However, they are often merely seen as artifacts and not as viable economic assets. It is high time that we change our perspective toward this.</p>
                        <p class="paragraph">In the wake of the coronavirus pandemic, many artists and workers in the creative industries have exhibited remarkable resilience. The following are examples of various projects and businesses that Filipino artists have jumpstarted:</p>
                    </h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
                <div class="row">
                <div class="col-lg-12 text-center">
                       <h3 class="section-subtitle text-muted"><p class="subtitle">With the ratification of the Philippine Creative Industries Act of 2021, we hope that we can encourage investments in creative startups and online businesses, which will not only enrich our culture but also contribute significantly to our local and national economies </p></h3>
                 </div>
              </div>
            </div>
        </div>
    </section>
