<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Arts and the economy</h2>
                    <h3 class="section-subheading text-muted">Arts and culture are important to local and national economies. The arts are economic catalysts; they do not only enhance the quality of life but also accelerate widespread economic recovery by providing direct economic benefits to communities. A growth in arts employment, for example, has a positive and causal effect on overall national employment. The arts also provide economic diversification and are proven to recover more rapidly from economic downturns without being anchored down by other slower recovering sectors. Essentially, they are small investments that deliver big returns; by creating jobs, generating tax revenues, and stimulating local economies through tourism and consumer purchases, the arts can build social cohesion and strengthen our national economy. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                  
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                   
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
