<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Arts and the economy</h2>
                    <h3 class="section-subheading text-muted"><p class="paragraph">Arts and culture are important to local and national economies. <br><br> The arts are economic catalysts; they do not only enhance the quality of life but also accelerate widespread economic recovery by providing direct economic benefits to communities. A growth in arts employment, for example, has a positive and causal effect on overall national employment. The arts also provide economic diversification and are proven to recover more rapidly from economic downturns without being anchored down by other slower recovering sectors. Essentially, they are small investments that deliver big returns; by creating jobs, generating tax revenues, and stimulating local economies through tourism and consumer purchases, the arts can build social cohesion and strengthen our national economy.</p>
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Creating Jobs</h4>
                    <h3 class="section-subheading text-muted"><p class="paragraph">Arts and culture can play a major role in community development by creating new jobs as well as fostering an environment and amenities that attract talented young professionals.</p>
                    </h3>   
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Generating Tax Revenues</h4>
                   <h3 class="section-subheading text-muted"><p class="paragraph">When artists are given the opportunity to participate in the contemporary workforce, they can help generate tax revenues. Taxes generally contribute to the Gross Domestic Product (GDP) of a country. Because of this contribution, taxes can help spur economic growth, which in turn raises the standard of living, creates new jobs, and attracts local and foreign investments.</p>
                    </h3>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Stimulating Local Economies</h4>
                    <h3 class="section-subheading text-muted"><p class="paragraph">Through tourism and consumer purchases, the arts can greatly benefit local economies by providing a diversified and sustainable means for creating jobs and attracting revenue.</p>
                    </h3>
                   </div>
                <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading text-muted"><p class="paragraph">To capitalize on these benefits, however, it is important to call on the national government to support and invest in Filipino artists and local arts organizations to ensure that they survive the pandemic by establishing policies that will set up programs to aid displaced artists and ultimately develop the creative industries. The enactment of the <b> Philippine Creative Industries Act of 2021 </b>, which is the most comprehensive creative economy legislation filed to date, is a step in the right direction. Specifically, by giving access to low-cost financing to support creative startups and online businesses, artists can serve as catalysts for widespread economic recovery. 
                        
                        <br><br> In these turbulent times, we are reminded of the importance of art and culture not only as a positive reinforcement in life but also as kindling to the economy. No pandemic of any kind should threaten the arts community into oblivion. In fact, this experience can serve as a springboard for discussion on renewed cultural and creative economy policies that will help jumpstart, support, and sustain this sector looking ahead on the road to national recovery. </p></h3>
                   </div>
                 </div>
            </div>
        </div>
    </section>
