<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PLEIADES</h2>
                    <h3 class="section-subheading text-muted"><p class="paragraph">This conspicuous cluster of stars, called the Pleiades or Moroporo in Filipino ethnoastronomy, has enchanted mankind for centuries. This stellar formation marked the seasons of hunting, planting, and sailing for our ancestors who claimed the sky as their own and put their distinctive marks on it. These bright stars have long been part of our colorful historical tapestry. In these turbulent times, may we be reminded of our profound connection to nature, in that by turning to the glimmer of the stars in the vast expanse of the night sky, we will find the courage to sail across the sea of tribulations and uncertainty with hope in our hearts.</p></h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle img-centered" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
